body {
  font-family: 'Poppins', sans-serif;
}

.img-admin {
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
}

.object-position-center {
  object-position: center center !important;
}

.line-height {
  line-height: 40px;
}

.width-200 {
  width: 200px;
}

/* Rating Style */
label[for="rating"] input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

label[for="rating"] i {
  cursor: pointer;
}

.checked {
  color: yellow;
  /* background-color: yellow; */
  /* fill: yellow; */
}


/* End Rating Style */